

a {
  text-decoration: none;
  color: black;
  position: relative;
  padding: 10px 0;
  font-family: 'Nunito', sans-serif;
}

.nav a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #e50000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.1s ease-in-out 0s;
}

.nav a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

ul.nav {
  font-size: 19px;
  list-style: none;
  position: static;
  display: block;
  padding: 10px 40px;
  margin: 0;
  z-index: 100;
  top: 0.5em;
  right: 1.5em;
}

.nav li {
  display: inline-flex;
  margin: 7px 15px;
}

.nav li:hover a {
  color: black;
}

.nav a:active::before {
  visibility: visible;
  transform: scaleX(1)
}


@media screen and  (max-width : 540px) {
  .nav li {
    padding: 0 2px;
    margin: 7px 4px;
  }
  .nav a {
    font-size: 16px;
  }
}
